.SignupForm {
  display: flex;
  flex-direction:column;
  align-items: center;
  width:350px;
}

.sign-up-information{
  height: 30px;
  width: 320px;
  margin-bottom: 10px;
}

.sign-up-button{
  height: 30px;
  border-radius: 10px;
  background-color:antiquewhite;
  margin-bottom: 10px;
  width:335px;
  cursor: pointer;
}

.sign-up-header{
  text-align:center
}

.sign-up-errors{
  color: red;
}
