.create-review-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 200px;

}
.create-review-container label{
  display: flex;
  padding: 0.2em 0
}

.create-review-container span{
  width: 80px;
}

.create-review-container select{
  width: 175px;
}

.create-review-container button{
  width: 30%;
  margin-top: 20px;
}
