.edit-spot-container{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto
}

.edit-new-spot-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width:350px;
}


.edit-spot-button{
  width:255px;
  height:25px;
  margin-left:10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color:antiquewhite
}

.edit-new-spot-form label{
  display: flex;
  padding: 0.2em 0
}
.edit-new-spot-form span{
  width: 80px;
  margin-left: 10px;
}

.edit-new-spot-form input{
  height: 18px;
  width:200px;
}
