.CreateNewSpotForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  width:250px;
}

.create-spot-information{
  margin:5px;
  height:22px;
}

.create-spot-button{
  width:240px;
  height:25px;
  margin:5px;
}
