.reviews-container{
  width:500px;
  display: flex;
  flex-direction: column;
}

.single-review{
  margin:10px;
}

.delete-review{
  margin-top:10px
}

.review-user-data{
  font-size: 14px;

  margin-bottom: 5px;
  display:flex;
}

.review-user-data img{
  width:30px;
  height:30px;
  border-radius: 20px;
  margin-right: 12px;
}
