.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin-left: 10%;
  margin-right:10%;
  align-items: center;
}

.menu-list{
  list-style-type: none;
}

.right-part{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-new-spot{
  margin:10px
}
.dropdown-menu{
  margin:10px;
  /* border: 1px solid grey;
  border-radius: 21px */
}

.profile-dropdown-li button{
  border-radius: 10px;
  background-color:antiquewhite;
  margin:2px;
}

.profile-dropdown-information{
  list-style-type: none;
}
