.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-right: 50px; */
  width: auto;
  margin-left: 10%;
  margin-right:10%;
  align-items: center;
}

.right-part{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-new-spot{
  margin:10px
}
.dropdown-menu{
  margin:10px;
  border: 1px solid grey;
  border-radius: 21px
}
